<%- include('partial/_util') -%>
<%
    parameters = {
        title: 'Finish',
        description: 'reCAPTHCA v3 の試験 / 完了ページ',
        errFlag: false
    }
-%>
<%- include('partial/_head', { parameters }) -%>
<body>
<%- include('partial/_header') -%>
<main class="l-main">
    <section class="container my-5">
        <h1>Finish</h1>
        <p>処理が完了しました。</p>
        <a href="./" class="btn-btn-secondary mt-3">トップへ戻る</a>
    </section>
</main>
<%- include('partial/_footer') -%>
<%- include('partial/_js_loader') -%>
</body>
</html>